
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150 {
        padding: 100px 0;
    }

    .ptb_100 {
        padding: 70px 0;
    }
}

@media (max-width: 991px) {
    .res-margin {
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {

    .inner-wrapper h1,
    .inner-wrapper h2 {
        font-size: 30px;
    }

    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150,
    .ptb_100 {
        padding: 50px 0;
    }

    .res-margin {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {

    .inner-wrapper h1,
    .inner-wrapper h2 {
        font-size: 24px;
    }

    .avatar-lg {
        height: 4rem;
        width: 4rem;
    }

    .container-fluid {
        padding: 0 3%;
    }

    .ptb_180 {
        padding: 80px 0;
    }
}

/*SECTION HEADING*/
@media (max-width: 991px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 36px;
    }

    .section-heading {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 30px;
        line-height: 1.4;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }

    h2 {
        font-size: 24px;
        line-height: 1.4;
    }

    h3 {
        font-size: 18px;
        line-height: 1.4;
    }

    p {
        line-height: 26px;
    }

    .headings > h2,
    .section-heading > h2 {
        line-height: 1.5;
    }
}

/*BUTTONS*/
@media (max-width: 575px) {
    .button-group a {
        margin-top: 0;
        margin-right: 5px;
    }

    .start-free-area.style-two .button-group {
        margin-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .start-free-area.style-two .button-group a {
        margin: 10px 0 0 0 !important;
    }

    .button-group .btn {
        padding: 12px 20px
    }

    .forgot-area .input-group .btn.btn-primary,
    .newsletter-area .input-group .btn.btn-primary {
        border-radius: 5px !important;
    }
}

/*SHAPES*/
@media (max-width: 767px) {
    .bg-shape {
        width: 580px;
        top: -10%;
        left: 0;
    }
}

@media (max-width: 575px) {
    .bg-shape {
        width: 320px;
        height: 550px;
    }

    .shape-1::before {
        height: 25rem;
        width: 75rem;
    }
}

/*TYPED*/
@media (max-width: 767px) {
    .cd-headline {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .cd-headline {
        font-size: 20px;
    }
}

/* ******************************
:: 2.0 HEADER AREA CSS
****************************** */
@media (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .navbar-sticky-on .navbar-nav .nav-link {
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
    }
}

@media (max-width: 991px) {
    .main:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: #fff;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s;
    }

    [data-theme=dark] .main:before {
        background: #01081f;
    }

    .canvas-open {
        overflow: hidden;
    }

    .canvas-open .main:before {
        width: 100%;
        opacity: .95;
        visibility: visible;
    }

    .navbar {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    .navbar.active {
        display: block;
    }

    .navbar.active .navbar-inner {
        right: 0;
    }

    .navbar .navbar-inner {
        right: -100%;
        -webkit-transition: right 0.3s 0.2s;
        transition: right 0.3s 0.2s;
    }

    .navbar .nav-link {
        border-bottom: 1px solid #eee;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    [data-theme=dark] .navbar .nav-link {
        border-bottom: 1px solid #1E2745;
    }

    .navbar.navbar-dark .nav-link {
        color: #54565a;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #f6f8f9;
    }

    .navbar.navbar-dark .nav-link:hover,
    .navbar.navbar-dark .nav-link:focus,
    .navbar.navbar-dark .nav-link.active,
    .navbar.navbar-dark .nav-link.current-menu-item {
        color: #2c2e30;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #e7eaee;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link:hover {
        background: #01081f;
    }

    .navbar-inner {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 20rem;
        padding-top: 2.5rem;
        background-color: #fff;
        -webkit-box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        border-radius: 0;
        overflow-y: auto;
        z-index: 1050;
    }

    [data-theme=dark] .navbar-inner {
        background: #151c32;
    }

    .navbar-inner .dropdown-menu:before {
        content: none;
    }

    .navbar-inner .dropdown-menu {
        border: medium none;
        background: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        float: none;
        margin: 0;
        padding-top: 0;
        position: static;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item {
        color: #f6f8f9;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item:hover {
        background: #01081f;
    }

    .nav-open .main-wrapper {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }

    /*MOBILE NAVBAR TOGGLER*/
    .navbar-toggler {
        position: absolute !important;
        top: auto;
        right: 0;
        bottom: auto;
        left: auto;
        border: none;
        height: 100%;
        width: 3.75rem;
        background-image: none;
        border-radius: 0;
        z-index: 1;
        display: inline-block;
    }

    .navbar-inner .navbar-toggler {
        position: absolute;
        height: 2.5rem;
        top: 0;
    }

    .navbar-toggler-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-image: none !important;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .navbar-toggler-icon {
        height: 3px;
        width: 50%;
        background: #7e8085;
        display: inline-block;
    }

    .navbar-dark .navbar-toggler-icon {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon{
        background: #7e8085;
    }

    .navbar-dark .navbar-toggler-icon.active:before,
    .navbar-dark .navbar-toggler-icon.active:after {
        background: #7e8085;
    }

    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        content: "";
        background: #7e8085;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .navbar-dark .navbar-toggler-icon:before,
    .navbar-dark .navbar-toggler-icon:after {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon:before,
    .navbar-sticky-on .navbar-toggler-icon:after {
        background: #7e8085;
    }

    .navbar-toggler-icon::before {
        top: -0.625rem;
    }

    .navbar-toggler-icon::after {
        top: 0.625rem;
    }

    .navbar-toggler-icon.active {
        background-color: transparent;
        -webkit-transform: scale(0.85) rotate(270deg);
        transform: scale(0.85) rotate(270deg);
    }

    .navbar-toggler-icon.active:before {
        top: 0;
        -webkit-transform: scale(0.65) rotate(45deg);
        transform: scale(0.65) rotate(45deg);
    }

    .navbar-toggler-icon.active:after {
        top: 0;
        -webkit-transform: scale(0.65) rotate(-45deg);
        transform: scale(0.65) rotate(-45deg);
    }
}

@media (max-width: 767px) {
    .homepage-1 .navbar-dark .navbar-toggler-icon {
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon:before,
    .homepage-1 .navbar-dark .navbar-toggler-icon:after {
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon.active {
        background-color: transparent;
    }
}

/* ******************************
:: 3.0 WELCOME AREA CSS
****************************** */
@media (min-width: 991px) {
    .homepage-4 .contact-title {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .welcome-area {
        height: 700px !important;
    }

    .welcome-intro > h3 {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    .welcome-area {
        height: 100% !important;
        padding-top: 90px;
    }

    .homepage-5 .welcome-area {
        padding-bottom: 90px;
    }

    .welcome-intro {
        margin-top: 30px;
    }

    .welcome-intro > h3 {
        font-size: 26px;
    }

    .homepage-6 .welcome-thumb {
        max-width: 250px;
    }
}

@media (max-width: 575px) {
    .welcome-intro {
        margin-top: 0;
    }

    .welcome-intro > h3 {
        font-size: 22px;
    }
    .homepage-1 .welcome-thumb {
        max-width: 200px;
    }
}

/* ******************************
:: 4.0 BENIFITS AREA CSS
****************************** */
@media (max-width: 767px) {
    .benifits-item {
        text-align: center;
    }
}

/* ******************************
:: 5.0 ABOUT APP AREA CSS
****************************** */
@media (max-width: 767px) {
    .about-thumb {
        min-height: 350px;
    }
}

/* ******************************
:: 6.0 PRICE PLAN AREA CSS
****************************** */
@media (max-width: 991px) {
    .single-price-plan {
        width: 33%;
    }
}

@media only screen and (max-width: 767px) {
    .price-plan-wrapper .single-price-plan {
        width: 50%;
        margin-top: 2rem;
    }

    .price-plan-wrapper .plan-select,
    .price-plan-wrapper .featured .plan-select {
        padding: 20px;
    }

    .price-plan-wrapper .featured {
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 575px) {
    .price-plan-wrapper .single-price-plan {
        width: 100%;
    }

    .single-price-plan:first-of-type {
        margin-top: 0;
    }
}

/* ******************************
:: 7.0 TESTIMONIAL AREA CSS
****************************** */
@media (max-width: 767px) {
    .testimonial-area .owl-dots {
        bottom: -15px;
    }
}

/* ******************************
:: 8.0 START FREE AREA CSS
****************************** */
@media (max-width: 991px) {
    .start-free-content {
        text-align: center;
        padding: 4rem;
    }

    .start-free-text > h2 {
        font-size: 2.3em;
    }
}

@media (max-width: 767px) {
    .start-free-content {
        padding: 3rem;
    }

    .start-free-text > h2 {
        font-size: 2em;
    }

    .start-free-btn .btn {
        font-size: 15px;
        padding: 13px 30px;
    }
}

@media (max-width: 575px) {
    .start-free-text > h2 {
        font-size: 1.6em;
    }

    .start-free-text span {
        font-size: 14px;
    }
}

/* ******************************
:: 9.0 DOWNLOAD AREA CSS
****************************** */
@media (max-width: 767px) {
    .download-text > h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 575px) {
    .download-text > h2 {
        font-size: 2em;
    }

    .button-group a:nth-child(2) {
        margin-right: 0;
    }
}

/* ******************************
:: 10.0 BREADCRUMB AREA CSS
****************************** */
@media (max-width: 991px) {
    .breadcrumb-content > h3 {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .breadcrumb-area {
        height: 300px;
    }

    .breadcrumb-content > h3 {
        font-size: 24px;
    }
}

/* ******************************
:: 11.0 BLOG PAGE DETAILS AREA CSS
****************************** */
@media (max-width: 991px) {
    .sidebar .single-widget:last-child {
        margin-bottom: 35px;
    }

    .blog-right .sidebar .single-widget:first-child {
        margin-top: 35px;
    }

    .blog-right .sidebar .single-widget:last-child {
        margin-bottom: 0;
    }

    .post-content h6 {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .post-content h6 {
        font-size: 16px;
    }

    .appia-blog .blog-details .blog-title > a {
        font-size: 22px;
    }

    .admin-name {
        font-size: 18px;
    }

    .comments,
    .blog-contact {
        margin-left: 100px;
    }

    .comments-content a:last-child {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .appia-blog .blog-details .blog-title > a {
        font-size: 20px;
        line-height: 1.5;
    }

    .meta-info {
        font-size: 13px;
    }

    .comments,
    .blog-contact {
        margin-left: 0;
    }
}

/* ******************************
:: 12.0 FOOTER AREA CSS
****************************** */
@media only screen and (min-width: 576px) and (max-width: 991px) {
    .footer-items {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .footer-items {
        margin-bottom: 30px;
    }

    .footer-area .col-12:last-of-type .footer-items {
        margin-bottom: 0;
    }
}

/* ******************************
:: 13.0 PREVIEW AREA CSS
****************************** */
@media (max-width: 991px) {
    .preview-area .section-heading {
        margin-bottom: 30px;
    }

    .preview-area .single-preview {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .preview .welcome-area {
        height: 580px !important;
    }
}

@media (max-width: 575px) {
    .preview .welcome-area {
        height: 550px !important;
    }

    .preview .badge-light {
        font-size: 14px;
        padding-left: .4em;
        padding-right: .4em;
    }
}