
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap');

/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(et-line.css);
@import url(icofont.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1c144e;
    margin-bottom: 0;
}

.inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    color: #2d3136;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .inner-content p {
        font-size: 20px;
        color: #818992;
    }
}

a {
    color: #444;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION HEADING*/
.section-heading {
    margin-bottom: 80px;
}

.section-heading > h2 {
    position: relative;
}

.section-heading > h2::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 70px;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*HEADINGS*/
.headings span {
    color: #444;
    font-weight: 500;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
    margin-left: -30px;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

/*BUTTONS*/
.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border: 0 none;
    border-radius: 100px;
    outline: 0 none;
    position: relative;
    z-index: 1;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.btn-bordered {
    background: transparent none repeat scroll 0 0;
    color: #444;
}

.btn.btn-bordered:hover,
.btn.btn-bordered:focus {
    color: #fff;
}

.btn.btn-bordered:before,
.btn.btn-bordered-white:after {
    position: absolute;
    content: "";
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: 100px;
}

.btn.btn-bordered:before {
    z-index: -2;
}

.btn.btn-bordered:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    background: #fff none repeat scroll 0 0;
    z-index: -1;
}

.btn.btn-bordered:hover:after,
.btn.btn-bordered:focus:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.btn.btn-bordered-white {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
}

.btn.btn-bordered-white:hover,
.btn.btn-bordered-white:focus {
    border-color: transparent;
    outline: 0 none;
}

.btn.btn-bordered-white:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
}

.btn.btn-bordered-white:hover:after,
.btn.btn-bordered-white:focus:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.color-primary {
    color: #007bff;
}

.color-secondary {
    color: #e03737 !important;
}

.btn.btn-primary {
    background: #007bff !important;
    border-radius: 5px;
    padding: 18px 34px;
}

.button-group {
    margin-top: 30px;
}

.button-group a {
    margin-right: 10px;
}

.button-group a:last-child {
    margin-right: 0;
}

.store-buttons a {
    text-align: left;
}

.store-buttons img {
    max-width: 190px;
}

@media (max-width: 991px) {
    .store-buttons img {
        max-width: 180px;
    }
}

@media (max-width: 575px) {
    .store-buttons img {
        max-width: 160px;
    }
}

/*TRANSITIONS*/
.team-photo:before,
.team-photo:after {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.btn.btn-bordered:before,
.btn.btn-bordered:after,
.btn.btn-bordered-white:after,
#scrollUp,
.header-items .nav-link,
.dropdown-item,
.navbar-sticky,
.benifits-item,
.benifits-item:after,
.single-work::after,
.single-work > h3,
.features-menu .single-features,
.features-menu .single-features::after,
.screenshots-overlay,
.price-plan-wrapper,
.thumb-prev,
.thumb-next,
.single-team,
.team-name,
.single-blog,
.tokyo .play-text {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.featured-items ul li,
.slick-dots li button,
.testimonial-area .owl-carousel button.owl-dot {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

/*BG SHAPE*/
.shapes-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.shape {
    position: relative;
}

.bg-shape {
    height: 720px;
    width: 1200px;
    border-radius: 120px;
    background-image: linear-gradient(35deg, #fff 0, #f6f9fe 100%);
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-25%, 20%, 0) rotate(-30deg);
    transform: translate3d(-25%, 20%, 0) rotate(-30deg);
    z-index: 0;
}

.shape-1 {
    position: relative;
}

.shape-1:before {
    content: "";
    position: absolute;
    display: block;
    width: 88rem;
    height: 35rem;
    top: 17rem;
    left: -53rem;
    border-radius: 25rem;
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
    background-color: #f6f9fe;
}

/*SHAPE DIVIDER*/
.shape-top {
    position: absolute;
    bottom: auto;
    top: -1px;
    left: 0;
    right: 0;
}

.shape-bottom {
    position: absolute;
    top: auto;
    bottom: -1px;
    left: 0;
    right: 0;
}

/*BACKGROUND OVERLAY*/
.bg-overlay,
.overlay-primary,
.overlay-dark {
    position: relative;
    z-index: 0;
}

.bg-overlay::after,
.overlay-primary:after,
.overlay-dark:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bg-overlay::after {
    opacity: 0.9;
    z-index: -1;
}

.overlay-primary:after {
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    z-index: -1;
}

.overlay-dark::after {
    background-color: rgba(16, 16, 45, 1);
    opacity: 0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    z-index: -1;
}

.bg-wrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

/*BACKGROUND COLORS*/
.bg-dark {
    background-color: #1b1a1e !important;
}

.footer-bg {
    background-color: #131418 !important;
}

.bg-gray {
    background-color: #f6f9fe;
}

.bg-inherit {
    background: inherit !important;
}

.blog .inner-footer {
    background: #f3f5f7;
}

.btn,
.btn:active,
.btn.btn-bordered:before,
.btn.btn-bordered-white:after,
.section-heading h2::after,
.bg-overlay::after,
.benifits-item:after,
.single-work:after,
/*.single-price-plan .price-header,*/
.single-faq::after {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
}

.pagination > li:hover a,
.pagination > li:focus a,
.pagination > li.active a,
.blockquote::after {
    background-color: #00cff2;
    color: #fff;
}

.pagination > li:hover a,
.pagination > li:focus a,
.pagination > li.active a {
    border: 1px solid #00cff2;
}

/*SOCIAL ICONS*/
.social-icons > a {
    margin: 5px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.social-icons svg {
    display: block;
    height: 100%;
    line-height: 45px;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.social-icons > a:hover svg:first-child {
    margin-top: -45px;
}

.social-icons > a.facebook {
    background-color: #3b5999 !important;
}

.social-icons > a.twitter {
    background-color: #55acee !important;
}

.social-icons > a.google-plus {
    background-color: #dd4b39 !important;
}

.social-icons > a.vine {
    background-color: #00b489 !important;
}

/*TYPED*/
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    color: #28a745;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
}

.cd-headline.clip b {
    opacity: 0;
}

.cd-headline.clip b.is-visible {
    opacity: 1;
}

/*BACKGROUND IMAGES*/
.homepage-3 .welcome-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/blog-thumb.jpg") no-repeat scroll center center / cover;
}

.homepage-5 .welcome-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/blog-thumb.jpg") no-repeat scroll center center / cover;
}

.homepage-6 .welcome-area {
    background: rgba(0, 0, 0, 0) url("../img/welcome/hero-thumb.jpg") no-repeat scroll center center / cover;
}

.about-thumb {
    background: rgba(0, 0, 0, 0) url("../img/bg/blog-thumb.jpg") no-repeat scroll center center / cover;
}

.features-slider-wrapper {
    background: rgba(0, 0, 0, 0) url('../img/mobile-slider.png') no-repeat scroll top center;
}

.discover-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/discover-bg.png") no-repeat scroll left center / contain;
}

.screenshots-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/screenshots-bg.png") no-repeat scroll left center / contain;
}

.testimonial-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/testimonial-bg.png") no-repeat scroll center center / 100% 100%;
}

.video-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/blog-thumb.jpg") no-repeat fixed center center / cover;
}

.start-free-content {
    background: rgba(0, 0, 0, 0) url("../img/bg/start-free.png") no-repeat scroll center center / cover;
}

.download-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/coming-soon.jpg") no-repeat scroll center center / cover;
}

.coming-soon {
    background: rgba(0, 0, 0, 0) url("../img/bg/coming-soon.jpg") no-repeat scroll center center / cover;
}

.faq-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/faq-shape.png") no-repeat scroll center center / cover;
}

.breadcrumb-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/blog-thumb.jpg") no-repeat fixed center center / cover;
}

.blog .breadcrumb-area {
    background: rgba(0, 0, 0, 0) url("../img/blog/blog-7.jpg") no-repeat fixed center center / cover;
}

.login-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/wave.html") no-repeat scroll top left / contain;
}

.bg-wrapper {
    background: rgba(0, 0, 0, 0) url("../img/bg/coming-soon.jpg") no-repeat scroll center center / cover;
}

/* ******************************
:: 5.0 PRELOADER AREA CSS
****************************** */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff !important;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    #loader {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
    }
}

/* ******************************
:: 6.0 SCROLL TO TOP AREA CSS
****************************** */
#scrollUp {
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #1c144e;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
}

#scrollUp > i {
    font-size: 24px;
    line-height: 38px;
    display: block;
    color: #fff;
}

#scrollUp:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #fff;
    margin-top: -100px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-intro > h3 {
    font-size: 30px;
}

.homepage-1 .welcome-thumb {
    max-width: 250px;
    padding-top: 70px;
}

.welcome-area .video-icon {
    position: absolute;
    top: 50%;
    left: 70%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.play-btn {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

.btn-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.play-icon {
    font-size: 22px;
    color: #1c144e;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@-webkit-keyframes grow {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes grow {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.play-animation {
    -webkit-animation: grow 3s infinite;
    animation: grow 3s infinite;
}

.animation-short {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.homepage-1 .video-icon {
    display: grid;
}

.homepage-1 .video-icon .play-btn {
    background-color: #0056b3;
}

.homepage-1 .video-icon .btn-circle {
    background-color: rgba(0, 86, 179, 0.2);
}

.homepage-1 .video-icon .play-icon {
    color: #fff;
}

/* ***********************************
:: 8.1 WELCOME AREA HOMEPAGE-2 CSS
**************************************/
.homepage-2 .welcome-area,
.homepage-3 .welcome-area,
.homepage-4 .welcome-area,
.homepage-5 .welcome-area,
.homepage-6 .welcome-area {
    height: 750px;
}

.homepage-2 .welcome-area,
.homepage-4 .welcome-area {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
    z-index: 1;
}

.homepage-2 .welcome-area .shape-bottom {
    z-index: -1;
}

/* ***********************************
:: 8.2 WELCOME AREA HOMEPAGE-3 CSS
**************************************/
.homepage-3 .welcome-intro h1 {
    color: #343434;
}

.homepage-3 .welcome-area .shape-bottom {
    z-index: -1;
}

.homepage-3 .welcome-area .shape-bottom svg {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.homepage-3 .welcome-area.bg-overlay::after {
    z-index: -2;
}

/* ***********************************
:: 8.3 WELCOME AREA HOMEPAGE-4 CSS
**************************************/
.homepage-4 .shape-bottom {
    z-index: -1;
}

.homepage-4 .shape-bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.homepage-4 .shape-bottom svg {
    -webkit-transform: translateX(-50%) rotateY(180deg);
    transform: translateX(-50%) rotateY(180deg);
}

.homepage-4 .shape-bottom svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
}

.homepage-4 .welcome-area .contact-box .form-group input,
.homepage-4 .welcome-area .contact-box .form-group textarea {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.homepage-4 .welcome-area .contact-box input:focus,
.homepage-4 .welcome-area .contact-box textarea:focus,
.homepage-4 .welcome-area .contact-box select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.homepage-4 .welcome-area .contact-box .form-group textarea {
    height: 120px;
}

/* ***********************************
:: 8.4 WELCOME AREA HOMEPAGE-5 CSS
**************************************/
.homepage-5 .welcome-area .video-icon {
    position: unset;
    top: inherit;
    left: inherit;
    -webkit-transform: unset;
    transform: unset;
}

/* ***********************************
:: 8.5 WELCOME AREA HOMEPAGE-6 CSS
**************************************/
.homepage-6 .welcome-thumb {
    max-width: 350px;
    padding-top: 70px;
}

.homepage-2 .discover-area,
.homepage-5 .discover-area,
.homepage-6 .discover-area {
    background: inherit;
}

/* ******************************
:: 9.0 BENIFITS AREA CSS
****************************** */
.benifits-item:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.benifits-item .feature-icon {
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.benifits-item:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.benifits-item:hover:after {
    opacity: 1;
}

.benifits-item:hover .feature-icon {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.feature-icon span {
    font-size: 45px;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benifits-area.style-two .benifits-item {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: rgb(241, 244, 246);
}

.benifits-content .col-12:last-child .benifits-item {
    border-right: 1px solid rgb(241, 244, 246);
}

.benifits-area.style-two .benifits-item:hover {
    -webkit-box-shadow: rgba(70, 4, 37, 0.1) 0px 15px 30px;
    box-shadow: rgba(70, 4, 37, 0.1) 0px 15px 30px;
    z-index: 1;
}

.benifits-area.style-two .feature-icon span {
    font-size: 34px;
}

.benifits-area.style-two .benifits-item::after {
    display: none;
}

.benifits-area.style-two .benifits-item:hover {
    -webkit-transform: inherit;
    transform: inherit;
}

.benifits-area.style-three .benifits-item:hover .feature-icon {
    -webkit-transform: inherit;
    transform: inherit;
}

/* ******************************
:: 10.0 ABOUT APP AREA CSS
****************************** */
.about-thumb {
    height: 100%;
    min-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.about-thumb.bg-overlay::after {
    border-radius: 10px;
}

/* ******************************
:: 11.0 FEATURES AREA CSS
****************************** */
.features-slider-wrapper {
    padding: 70px 24px 90px 27px;
    background-size: 100%;
    max-width: 293px;
    margin: 0 auto;
    margin-top: 0;
}

.media-box {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.features-icon span {
    position: relative;
    display: block;
    height: 55px;
    width: 55px;
}

.features-icon span::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
    top: 0;
    left: 0;
    border-radius: 4px;
    z-index: 0;
}

.features-icon i {
    font-size: 28px;
    color: #4c5462;
    background-color: #f5f7fa;
    display: inline-block;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    line-height: 53px;
    position: relative;
    top: 2px;
    left: 2px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.features-content .col-12.active .media-box {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.features-content .col-12.active .media-box .features-icon i {
    background-color: transparent;
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.features-content .col-12.active .media-body h3 {
    color: #8C0390;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .features-content .col-12.active .media-box {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

    .features-thumb img {
        max-width: 550px;
    }
}

/* ******************************
:: 12.0 COUNTER AREA CSS
****************************** */
.single-counter .counter {
    height: 110px;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f3f5f7;
    border-radius: 5px;
}

.counter > span {
    font-size: 3em;
    font-weight: 600;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
    .counter > span {
        font-size: 2.8em;
    }
}

@media (max-width: 767px) {
    .single-counter .counter {
        height: 100px;
        width: 100px;
    }

    .counter > span {
        font-size: 2.5em;
    }
}

/* ******************************
:: 13.0 SCREENSHOTS AREA CSS
****************************** */
.single-screenshot {
    position: relative;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.screenshots-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(3, 37, 51, 0.60);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.screenshots-overlay > a {
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.screenshots-overlay i {
    font-size: 30px;
    color: #fff;
    line-height: 70px;
}

.single-screenshot:hover .screenshots-overlay {
    visibility: visible;
    opacity: 1;
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slick-dots li button {
    font-size: 0;
    height: 6px;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 5px;
}

.slick-dots .slick-active button,
.testimonial-area .owl-carousel button.owl-dot.active {
    background-color: #BE722C;
    -webkit-box-shadow: 0 1px 5px #BE722C;
    box-shadow: 0 1px 5px #BE722C;
}

/* ******************************
:: 14.0 SERVICE AREA CSS
****************************** */
.service-area .shape-top svg {
    position: relative;
    display: block;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotateY(180deg);
    transform: translateX(-50%) rotateY(180deg);
}

.service-area .shape-bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.service-area .shape-bottom svg {
    position: relative;
    display: block;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotateY(180deg);
    transform: translateX(-50%) rotateY(180deg);
}

.icon {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.icon span {
    height: 80px;
    width: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.icon-box.icon-1 {
    background-color: #fff;
    color: #BE722C;
}

.icon-box.icon-1:hover .icon {
    color: #fff;
    background-color: #BE722C;
}

.icon-box.icon-2 {
    background-color: #fff;
    color: #3ceb9e;
}

.icon-box.icon-2:hover .icon {
    color: #fff;
    background-color: #3ceb9e;
}

.icon-box.icon-3 {
    background-color: #fff;
    color: #f99c6a;
}

.icon-box.icon-3:hover .icon {
    color: #fff;
    background-color: #f99c6a;
}

.icon-box.icon-4 {
    background-color: #fff;
    color: #e81273;
}

.icon-box.icon-4:hover .icon {
    color: #fff;
    background-color: #e81273;
}

.icon-box.icon-5 {
    background-color: #fff;
    color: #34465d;
}

.icon-box.icon-5:hover .icon {
    color: #fff;
    background-color: #34465d;
}

.icon-box.icon-6 {
    background-color: #fff;
    color: #1ab7ea;
}

.icon-box.icon-6:hover .icon {
    color: #fff;
    background-color: #1ab7ea;
}

.service-icon span,
.appia-tab span {
    height: 54px;
    width: 54px;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    font-size: 24px;
    color: #7c4fe0;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.service-thumb {
    position: relative;
    max-width: 280px;
}

.service-thumb.style-two {
    max-width: 100%;
}

@media (max-width: 575px) {
    .service-thumb {
        max-width: 250px;
    }
}

.thumb-top {
    position: absolute;
    width: 100%;
    top: 25%;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.check-list.style-two .list-box .icon {
    font-size: 24px;
}

/* ******************************
:: 15.0 DISCOVER AREA CSS
****************************** */
.discover-thumb .thumb-top {
    top: 19%;
    right: 10%;
}

.thumb-bottom {
    position: absolute;
    bottom: 15%;
    width: 100%;
    left: -8%;
}

.discover-thumb .thumb-bottom {
    bottom: 8%;
    left: auto;
}

.list-box .icon {
    color: #764fe0;
}

@media (min-width: 992px) {
    .video-content > h2 {
        font-size: 34px;
    }
}

/* ******************************
:: 16.0 PRICE PLAN AREA CSS
****************************** */
.price-plan-area {
    z-index: 1;
}

.price-plan-wrapper {
    font-size: 16px;
    color: #444;
    width: 100%;
    max-width: 1000px;
}

.single-price-plan {
    width: 25%;
    position: relative;
    float: left;
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.single-price-plan:first-of-type {
    border-radius: 8px 0 0 8px;
}

.single-price-plan:last-of-type {
    border-radius: 0 8px 8px 0;
}

.price-header .plan-title {
    letter-spacing: 2px;
    /*color: #fff;*/
}

.plan-cost .plan-price {
    font-size: 2em;
    font-weight: 600;
}

.plan-cost .plan-type {
    font-size: 0.7em;
    opacity: 0.8;
}

.plan-thumb {
    height: 110px;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f3f5f7;
    border-radius: 50%;
}

.single-price-plan .plan-features {
    font-size: 14px;
}

.single-price-plan .plan-features li {
    padding: 8px 20px;
}

.single-price-plan .plan-features i {
    margin-right: 8px;
    color: #444;
}

.single-price-plan .plan-select {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.plan-select > a {
    font-size: 14px;
    letter-spacing: 3px;
}

.price-plan-wrapper .featured {
    margin-top: -10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 8px;
}

.price-plan-wrapper .featured .plan-select {
    padding: 30px 20px;
}

/* ******************************
:: 17.0 TESTIMONIAL AREA CSS
****************************** */
.testimonial-area .owl-item img {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.client-rating {
    color: #ffa200;
}

.thumb-prev,
.thumb-next {
    position: absolute;
    z-index: 99;
    top: 45%;
    width: 98px;
    height: 98px;
    left: -90px;
    cursor: pointer;
}

.thumb-next {
    left: auto;
    right: -90px;
}

.single-testimonial-thumb img {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-area .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.testimonial-area .owl-carousel button.owl-dot {
    height: 6px;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: none;
    margin: 5px;
}

/* ******************************
:: 18.0 TEAM AREA CSS
****************************** */
.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.team-overlay.bg-overlay::after {
    border-radius: 50%;
}

.team-name {
    font-size: 18px;
}

.team-post {
    font-size: 15px;
}

.team-icons svg {
    font-size: 16px;
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.team-icons a:hover svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.single-team:hover .team-overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team-style-two .team-overlay.bg-overlay::after {
    border-radius: 0;
}

/* ******************************
:: 19.0 START FREE AREA CSS
****************************** */
.start-free-area {
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
}

.start-free-content {
    padding: 5rem;
    border-radius: 10px;
    background-color: #fff;
}

.start-free-text strong {
    color: #1c144e;
}

.start-free-text > h2 {
    font-size: 2.5em;
}

.start-free-text span {
    font-size: 16px;
}

.start-free-details {
    max-width: 650px;
    margin: 0 auto;
}

.start-free-btn .btn {
    font-size: 16px;
    padding: 18px 50px;
}

/* ******************************
:: 20.0 FAQ AREA CSS
****************************** */
.card-header .btn {
    position: relative;
    display: block;
    width: 100%;
    background: transparent;
    color: #1c144e;
    text-align: left;
}

.card-header .btn.collapsed {
    color: #444;
}

.card-header .btn:hover,
.card-header .btn:focus,
.card-header .btn:active {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.card-header .btn::after,
.card-header .btn.collapsed::after {
    position: absolute;
    top: 50%;
    left: calc(100% - 30px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.card-header .btn::after {
    content: '\f107';
}

.card-header .btn.collapsed::after {
    content: '\f105';
}

@media (max-width: 575px) {
    .card-header .btn {
        line-height: 1.4;
    }
}

/* ******************************
:: 21.0 DOWNLOAD AREA CSS
****************************** */
.download-thumb {
    max-width: 300px;
    top: auto;
    bottom: -1px;
    right: 10%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .download-thumb {
        max-width: 245px;
        right: 5%;
    }
}

/* ******************************
:: 22.0 CONTACT AREA CSS
****************************** */
.contact-box .form-group input,
.contact-box .form-group textarea {
    font-size: 14px;
    height: 50px;
    padding: 0 15px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-box .form-group textarea {
    height: 200px;
    padding: 15px;
}

.contact-box .form-group input::-webkit-input-placeholder,
.contact-box .form-group textarea::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.6);
}

.contact-box .form-group input:-ms-input-placeholder,
.contact-box .form-group textarea:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.6);
}

.contact-box .form-group input::placeholder,
.contact-box .form-group textarea::placeholder {
    color: rgba(68, 68, 68, 0.6);
}

.contact-box input:focus,
.contact-box textarea:focus,
.contact-box select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.contact-box button {
    padding: 12px 26px;
}

/*Map Area*/
.map-area {
    height: 550px;
    width: 100%;
}

.map-area iframe {
    height: 100%;
    width: 100%;
}

@media (max-width: 575px) {
    .map-area {
        height: 450px;
    }
}

/* ******************************
:: 23.0 FOOTER AREA CSS
****************************** */
.footer-area {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
}

.footer-area.style-two .shape-top svg {
    position: relative;
    display: block;
    left: 50%;
    width: calc(100% + 1.3px);
    -webkit-transform: translateX(-50%) rotateY(180deg);
    transform: translateX(-50%) rotateY(180deg);
}

.footer-area .social-icons > a {
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.footer-area .social-icons > a:hover svg:first-child {
    margin-top: -40px;
}

.copyright-area {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

.footer-area .social-icons > a:hover,
.footer-area .social-icons > a:focus {
    color: #fff !important;
}

/* ******************************
:: 24.0 BLOG AREA CSS
****************************** */
.blog-area {
    z-index: 1;
}

.single-blog {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.blog-thumb img {
    display: block;
    width: 100%;
    border-radius: 6px;
}

.blog-content > p {
    line-height: 1.8;
}

.blog-btn {
    position: relative;
    display: inline-block;
}

.blog-btn::after {
    position: absolute;
    content: '\f101';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    opacity: 0;
    visibility: hidden;
    top: 50%;
    -webkit-transform: translateX(3px) translateY(-50%);
    transform: translateX(3px) translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.blog-btn:hover::after,
.blog-btn:focus::after {
    visibility: visible;
    opacity: 1;
    top: 50%;
    -webkit-transform: translateX(5px) translateY(-50%);
    transform: translateX(5px) translateY(-50%);
}

.single-blog:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

/* ******************************
:: 25.0 BREADCRUMB AREA CSS
****************************** */
.breadcrumb-area {
    height: 350px;
    z-index: 1;
}

.breadcrumb-content > h3 {
    font-size: 38px;
}

.breadcrumb {
    background-color: transparent;
    margin: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #fff;
}

.blog .breadcrumb-item > a,
.blog .breadcrumb-item,
.blog .breadcrumb-item::before,
.blog .breadcrumb-item.active {
    color: #fff;
}

/* ******************************
:: 26.0 BLOG PAGE AREA CSS
****************************** */
.blog .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.blog .single-blog {
    margin-bottom: 45px;
}

.pagination > li > a {
    font-size: 14px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #444;
    color: #444;
    text-align: center;
}

.pagination li:first-child a,
.pagination li:last-child a {
    display: block;
    border: none;
    position: relative;
}

.pagination li:first-child:hover a,
.pagination li:last-child:hover a {
    background: none;
    color: inherit;
    border: none;
}

.pagination li:first-child:hover a {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}

.pagination li:last-child:hover a {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

/* **********************************
:: 27.0 BLOG PAGE DETAILS AREA CSS
*************************************/
/*Single Widget*/
.single-widget {
    margin-bottom: 35px;
}

.sidebar .single-widget:last-child {
    margin-bottom: 0;
}

.widget-content {
    position: relative;
}

/*Search Widget*/
.search-widget input {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    color: #444;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
    -webkit-transition: -webkit-box-shadow 1s ease 0s;
    transition: -webkit-box-shadow 1s ease 0s;
    transition: box-shadow 1s ease 0s;
    transition: box-shadow 1s ease 0s, -webkit-box-shadow 1s ease 0s;
}

.search-widget input:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/*Catagory Widget*/
.widget .single-accordion {
    border: 1px solid #eee;
    border-radius: 4px;
}

.widget .single-accordion h5 a {
    color: #444;
    border-bottom: 1px solid #eee;
}

.widget-items li a {
    position: relative;
    border-bottom: 1px solid #eee;
}

.widget-items li a.active {
    color: #0056b3;
}

.widget-items li a::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

.widget-items li a:hover,
.widget-items li a:focus,
.widget-items li a.active {
    background-color: #f7f7f7;
}

.widget-items li a:hover::before,
.widget-items li a:focus::before,
.widget-items li a.active::before {
    width: 2px;
    background-color: #0056b3;
}

.widget-items li a span {
    line-height: 1.4;
}

/*Post Widget*/
.post-thumb img {
    border: 1px solid #eee;
}

.post-widget .widget-items .post-date {
    font-size: 13px;
    line-height: 1;
}

.post-content h6 {
    font-weight: 400;
    line-height: 20px;
}

/*Tags Widget*/
.tags-widget .single-accordion {
    border: none;
}

.tags-widget-items a {
    border: 1px solid #e5e5e5;
    font-size: 12px;
}

/*Blog Details*/
.appia-blog .meta-info {
    border-bottom: 1px solid #eee;
}

.meta-info > ul > li {
    position: relative;
}

.meta-info > ul > li::after {
    position: absolute;
    content: '';
    height: 30%;
    width: 2px;
    background-color: #777;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.meta-info > ul > li:last-child::after {
    display: none;
}

.appia-blog .blog-share a {
    padding: 0 10px;
}

.blog-share .social-icons > a {
    width: 35px;
    height: 35px;
    font-size: 16px;
}

.blog-share .social-icons > a.facebook:hover {
    background-color: #3b5999 !important;
    color: #fff;
}

.blog-share .social-icons > a.twitter:hover {
    background-color: #55acee !important;
    color: #fff;
}

.blog-share .social-icons > a.google-plus:hover {
    background-color: #dd4b39 !important;
    color: #fff;
}

.blog-share .social-icons svg {
    line-height: 35px;
}

.blog-share .social-icons > a:hover svg:first-child {
    margin-top: -35px;
}

.appia-blog .blog-details .blog-title > a {
    font-size: 24px;
}

.blockquote {
    background-color: #f7f7f7;
    position: relative;
}

.blockquote::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
}

.blog-comments {
    margin-top: 20px;
}

.admin {
    border-top: 1px solid #e5e5e5;
}

.admin-thumb img,
.comments-thumb img {
    border: 1px solid #eee;
}

.comments,
.blog-contact {
    margin-left: 200px;
}

.single-comments {
    border: 1px solid #eee;
    margin-bottom: 1rem;
}

.single-comments:last-of-type {
    margin-bottom: 0;
}

.comments-content > h5 > a:last-child {
    color: #00cff2;
}

.contact-box.comment-box {
    text-align: left;
}

.contact-box.comment-box .form-group input {
    font-size: 15px;
    border: 1px solid #e5e5e5;
}

.contact-box.comment-box .form-group textarea {
    font-size: 15px;
    border: 1px solid #e5e5e5;
    height: 150px;
}

.recent-blog-area {
    padding-top: 80px;
}

/* ******************************
:: 28.0 FAQ PAGE AREA CSS
****************************** */
.single-faq {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 45px;
    position: relative;
}

.faq-area .col-12:last-child .single-faq {
    margin-bottom: 0;
}

.single-faq::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.single-faq > h5 {
    font-size: 15px;
}

.faq .faq-area {
    background: inherit;
}

.faq .faq-area .card {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* ******************************
:: 29.0 DOWNLOAD PAGE AREA CSS
****************************** */
.download-icon .icon {
    position: relative;
    font-size: 100px;
}

.download-icon .icon::after {
    position: absolute;
    content: "\ef08";
    font-family: 'Icofont';
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
    top: 5px;
    left: 0;
    height: 0;
    overflow: hidden;
    -webkit-animation: download 2s ease infinite;
    animation: download 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes download {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes download {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

/* ******************************
:: 30.0 NEWSLETTER AREA CSS
****************************** */
.form-control {
    font-size: 15px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.inner-form .form-control,
.inner-form button {
    height: 60px;
    border-radius: 8px;
}

.subscribe-form {
    position: relative;
    display: block;
    width: 80%;
}

.subscribe-form input {
    font-size: 14px;
    height: 55px;
    border-radius: 30px;
    text-indent: 3%;
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.subscribe-form button {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

@media (max-width: 991px) {
    .subscribe-form {
        width: 100%;
    }
}

/* ******************************
:: 31.0 COMING SOON AREA CSS
****************************** */
.countdown {
    text-transform: uppercase;
    color: #fff;
}

.countdown > div {
    display: inline-block;
}

.countdown > div > span {
    display: block;
    text-align: center;
}

.countdown-container {
    margin: 0 10px;
    padding: 1rem;
}

.countdown-content span {
    font-size: 1.5em;
}

.coming-soon .copyright-area p,
.coming-soon .copyright-area a {
    color: #fff;
}

@media (min-width: 992px) {
    .countdown-content p {
        font-size: 16px;
        line-height: 28px;
    }
}

.countdown-container .countdown-heading {
    font-size: 16px !important;
    font-weight: 600;
    margin: 10px;
}

.countdown-container .countdown-value {
    font-size: 50px;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
}

@media (max-width: 991px) {
    .countdown-content h1 {
        font-size: 4em;
    }
}

@media (max-width: 767px) {
    .countdown-content h1 {
        font-size: 3em !important;
    }

    .countdown-container {
        margin: 0 6px;
        padding: 0.5rem;
    }
}

@media (max-width: 575px) {
    .countdown-content h1 {
        font-size: 2.5em !important;
    }

    .countdown-container {
        margin: 0 3px;
        padding: 0;
    }
}

/* ******************************
:: 32.0 ERROR AREA CSS
****************************** */
.error-area h1 {
    font-size: 10em;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#BE722C), to(#8C0390)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #BE722C 0%, #8C0390 100%) repeat scroll 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error-area h2 {
    font-size: 2.5em;
}

@media (max-width: 767px) {
    .error-area h1 {
        font-size: 8em !important;
    }
}

@media (max-width: 575px) {
    .error-area h1 {
        font-size: 7em !important;
    }
}

.error-area.style-two h1 {
    font-size: 20vmax;
    background: rgba(0, 0, 0, 0) url("../img/bg/error-bg.jpg") no-repeat scroll center center / cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* ******************************
:: 33.0 PREVIEW AREA CSS
****************************** */
.preview .welcome-area {
    position: relative;
    height: 100vh;
    background: #7c4fe0 url("../img/bg/bg-animation-thumb.png") repeat-x scroll 0 0 / cover;
    -webkit-animation: bg-animate 50s linear infinite;
    animation: bg-animate 50s linear infinite;
}

@-webkit-keyframes bg-animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

@keyframes bg-animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.preview .badge-light {
    font-size: 16px;
}

.portfolio-menu button {
    background-color: transparent;
    color: #3a3a3a;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.portfolio-menu button::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    bottom: 5px;
    left: 50%;
    background-color: #1c144e;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.portfolio-menu button.active {
    color: #1c144e;
}

.portfolio-menu button.active::after {
    width: 60%;
    visibility: visible;
    opacity: 1;
}

.single-preview img {
    -webkit-box-shadow: 0 0.313rem 0.875rem rgba(45, 49, 54, 0.08);
    box-shadow: 0 0.313rem 0.875rem rgba(45, 49, 54, 0.08);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.preview-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.preview-overlay .btn.preview-btn {
    background: #BE722C;
    color: #fff;
    border: 2px solid #BE722C;
    padding: 16px 24px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.preview-overlay .btn.preview-btn:hover {
    background: #313131;
    border: 2px solid #313131;
}

.preview-overlay h3 {
    font-size: 2.3em;
}

.single-preview:hover .preview-overlay {
    visibility: visible;
    opacity: 1;
}

.single-preview:hover img {
    -webkit-box-shadow: 0 2.188rem 2.125rem rgba(33, 97, 177, 0.08);
    box-shadow: 0 2.188rem 2.125rem rgba(33, 97, 177, 0.08);
}

.preview-area .section-heading {
    margin-bottom: 35px;
}

.preview-area .single-preview {
    margin-top: 45px;
    border-radius: 20px;
    overflow: hidden;
}

.template-features-area .single-feaures {
    border-radius: 15px;
}